/*------------------------------------generique-----------------------------*/
html {
  box-sizing: border-box;
}
*,*:before,*:after {
  box-sizing: inherit;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: white;
}
h1{
  font-size: 36px;
  font-weight: 300;

  letter-spacing: 7.2px;
  
  margin: 0;
  text-align: center;
}
h2{
  font-size: 18px;
  font-weight: 700;
  margin: 0;
 
}
h3{
  font-size: 36px;
  font-weight: normal;
  margin: 10px;
}
/*--component----*/
.wrapper{
  max-width: 1080px;
  margin: 0px auto;
}
header{
background-color: #f26c25;
color: white;
padding-top: 10px;
padding-bottom: 10px;
}
.header .wrapper{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 36px;
}
/*--nav--*/
.menu{
  display: flex;
  gap: 40px ;
  list-style-type:none ;
}
.menu a:hover{
  text-decoration: underline;

}
.hero{
  background-color: #eee;
  padding-bottom:80px ;
  padding-top: 80px;
}
/*titretransport*/
.titreSection{
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 80px;
  margin-bottom: 80px;

}
.conteneurtransport{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}
.transporter{
  text-align: center;

}
.transporter p{
  margin-top: 5px;
}
.menusocial {
  display: flex;
  gap: 20px;
  list-style: none;
}
.footer{
  background-color: black;
  color: white;
}
.footer .wrapper{
display: flex;
justify-content: space-between;
align-items: center;
}
.facebook a:hover{
  background-color: #0a66c2;
}
.twitter a:hover{
  background-color: #0a66c2;
}
.linkedin a:hover{
  background-color: #0a66c2;
}
/*---aide stylisitqiue--*/
.conteneurtransport-invisible{
  display: none;
}